/* colors 
#ac90c3
#9a83b1
#8e81ad
#24333a
 */
.nav {
    width: 100%;
    height: 150px;
    /* position: sticky; */
    top: 0;
    display: flex;
    align-items: center;
    font-family: "Mulish", sans-serif;
    flex-wrap: wrap;
}

.eightdeep, .right {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eightdeep {
    height: 100%;
}

.logo {
    height: 100%;
    cursor: pointer;
    overflow: hidden;
}

.eightdeep :hover {
    color: #ac90c3;
}

.center {
    flex: 6
}

.socialIcons {
    font-size: 25px;
    margin-right: 10px;
    color: #24333a;
    cursor: pointer;
}

.right :hover {
    color: #ac90c3;
}

.navList {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navListItem {
    margin-right: 40px;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    color: #24333a;
}

.navList :hover {
    color: #ac90c3;
}

.sep {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sep-line {
    background-color:rgb(214, 214, 214);
    width: 90%;
    height: 2px;
}